<div class="form-group">
  <label class="label label-default" for="usernameInput">Username:</label>
  <input value="{{user.username}}" (input)="user.username = usernameInput.value" type="text" name="usernameInput"
    id="usernameInput" class="form-control">
</div>

<div class="form-group">
  <label class="label label-default" for="emailInput">Email:</label>
  <input value="{{user.email}}" (input)="user.email = emailInput.value" type="text" name="emailInput" id="emailInput"
    class="form-control">
</div>

<div class="form-group">
  <label class="label label-default" for="birthdayInput">Date of Birth:</label>
  <input value="{{user.birthday}}" (input)="user.birthday = birthdayInput.value" type="text" name="birthdayInput"
    id="birthdayInput" class="form-control">
</div>

<div class="form-group">
  <label class="label label-default" for="roleSelect">Role:</label>
  <select class="form-control" name="roleSelect" id="roleSelect" value="{{user.role}}" (change)="selectChange($event)">
    <option value="0">Basic User</option>
    <option value="5">Group Assistant</option>
    <option value="10">Group Admin</option>
    <option value="15">Super Admin</option>
  </select>
</div>

<div class="form-group">
  <ul>
    <li *ngFor="let group of groups">
      <span>
        {{group.name}}:
      </span>
      <ul>
        <li *ngFor="let channel of group.channels">
          {{channel}}
          <input type="checkbox" name="cbx{{channel}}" id="cbx{{channel}}" [checked]="isInChannel(channel)"
            (change)="groupChange(group.name, channel)" />
        </li>
      </ul>
    </li>
  </ul>
</div>

<button class="btn btn-primary" (click)="save()">
  Save
</button>