<!-- <p>login works!</p> -->
<div class="login-component">
  <!-- <form> -->
  <label for="email">email:</label>
  <input type="text" name="email" id="email" #emailInput (input)="user.email = emailInput.value" class="form-control">
  <label for="password">password:</label>
  <input type="password" name="password" id="password" #passwordInput (input)="user.password = passwordInput.value"
    class="form-control">
  <br>
  <button (click)="login()" type="submit" class="form-control btn btn-primary">Login</button>
  <!-- </form> -->
</div>