<button style="margin-bottom:1rem" class="btn btn-primary" routerLink="/users/create">
  Create User
</button>
<div *ngIf="users.length == 0; else elseBlock">
  No users
</div>

<ng-template #elseBlock>
  <button style="margin-bottom:1rem;margin-left:1rem" class="btn btn-primary" routerLink="/groups/users">
    Manage Users in Groups
  </button>
  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let user of users">
      <td> <a routerLink="/users/{{user.username}}"></a> {{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{getRole(user.role)}}</td>
      <td><button (click)="editUser(user)" class="btn btn-primary" Ng>Edit</button></td>
    </tr>
  </table>
</ng-template>